{% extends 'index.html' %}
{% load static %}
{% block 'body'%}
  <div id="modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-8 rounded-md">
        <form action="{% url 'fabricante' %}" method="POST">{% csrf_token %}
            <div class="flex gap-4 justify-between">
                <h3 class="text-lg">Adicione o fabricante</h3>
                <a class="text-right">&times;</a>
            </div>
            <input class="rounded-md" name="fabricante" type="text" placeholder="Fabricante...">
            <button type="submit" class="mt-4 px-4 py-2 bg-blue-600 text-white rounded-md">Adicionar</button>
        </form>
    </div>
  </div>
{% endblock %}