{% extends 'index.html' %}
{% load permission_tags %}
{% load static %}
{% block 'body'%}
{% include 'partials/sidebar.html'%}
<div class="container mx-auto">
    <div class="p-4 sm:ml-64">
        <h1 class="p-5 font-medium text-3xl text-gray-800 dark:text-gray-100">Listagem de produtos:</h1>
        <form action="{% url 'listar' %}" method="GET">
            <div class="flex flex-wrap gap-4 justify-end mx-auto mt-8 w-full">
                <select name="fabricante" id="fabricante" class="px-2 py-1 sm:w-28 md:w-36 rounded-lg bg-white dark:bg-gray-800 text-sm font-normal text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 outline-none transition-all placeholder-gray-400 focus:border-blue-500 focus:ring-2 focus:ring-blue-500">
                    <option value="" selected disabled>Fabricante</option>
                    {% for fabricante in fabricantes %}
                        <option value="{{fabricante.id}}">{{fabricante.nome}}</option>
                    {% endfor %}
                </select>

                <select name="categoria" id="categoria" class="px-2 py-1 sm:w-28 md:w-36 rounded-lg bg-white dark:bg-gray-800 text-sm font-normal text-gray-700 dark:text-gray-300 border border-gray-300 dark:border-gray-700 outline-none transition-all placeholder-gray-400 focus:border-blue-500 focus:ring-2 focus:ring-blue-500">
                    <option value="" selected disabled>Categoria</option>
                    {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria.nome}}</option>
                    {% endfor %}
                </select>
                <div class="flex gap-4"> 
                    <button class="px-4 py-2 bg-blue-600 text-white border border-solid border-blue-700 rounded-lg hover:bg-blue-700 focus:ring-2 focus:ring-inset focus:ring-blue-400">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);">
                            <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
                        </svg>
                        
                    </button>
                    <a class="px-4 py-2 bg-green-600 text-white border border-solid border-green-700 rounded-lg hover:bg-green-700 focus:ring-2 focus:ring-inset focus:ring-green-400" href="{% url 'adicionar' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);">
                            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </form>
        <div class="mt-8 overflow-x-auto rounded-lg">
            <table class="divide-y divide-gray-200 bg-gray-50 dark:bg-gray-700 w-full">
                <thead class="bg-gray-100 dark:bg-gray-800">
                    <tr>
                        <th class="px-4 py-3 text-xs text-center uppercase tracking-wider text-gray-800 dark:text-gray-100">Produtos</th>
                        <th class='px-4 py-3 text-xs text-center uppercase tracking-wider text-gray-800 dark:text-gray-100'>Categoria</th>
                        <th class='px-4 py-3 text-xs text-center uppercase tracking-wider text-gray-800 dark:text-gray-100'>Quantidade</th>
                        <th class='px-4 py-3 text-xs text-center uppercase tracking-wider text-gray-800 dark:text-gray-100'>Preço</th>
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
                    {% for produto in produtos %}
                        <tr>
                            <td class="px-4 py-3 whitespace-nowrap text-center text-sm font-medium text-gray-900 dark:text-gray-100"><a class="hover:bg-gray-700 px-3 py-1 rounded-lg" onclick="getProductDetails({{produto.id}});"><a href="{% url 'detalhe' produto.id %}">{{produto.nome_produto}}</a></td>
                            <td class="px-4 py-3 whitespace-nowrap text-center text-sm text-gray-700 dark:text-gray-300">{{produto.categoria}}</td>
                            <td class="px-4 py-3 whitespace-nowrap text-center text-sm text-gray-700 dark:text-gray-300">{{produto.estoque}}</td>
                            <td class="px-4 py-3 whitespace-nowrap text-center text-sm text-gray-700 dark:text-gray-300">R${{produto.preco}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="fixed inset-0 bg-gray-800 bg-transparent flex items-center justify-center hidden " id="modal_form">
            <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg w-11/12 md:w-1/2">
                <div class="flex justify-between mb-4">
                    <h2 class="text-gray-300 text-lg">Detalhes do produto</h2>
                    <button onclick="closemodal()" type="button" class="hover:bg-gray-700 rounded-md px-3 py-1" id="close" >&times;</button>
                </div>
                <form class="rounded-md space-y-6 md:space-y-8">{% csrf_token %}
                    
                    <div>
                        
                        <div class="grid grid-cols-2 gap-4">
                            <div>
                                <label for="id" class="inline-block text-gray-700 dark:text-gray-300 pb-2">Id do produto</label>
                                <input value="{{produto.id}}" class="inline-block w-full rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" id="id" type="text">
                            </div>
                            <div>
                                <label for="nome_produto" class="inline-block text-gray-700 dark:text-gray-300 pb-2">Nome do produto</label>
                                <input value="{{produto.nome_produto}}" class="inline-block w-full rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" type="text" name="nome_produto" id="nome_produto" placeholder="Nome do produto">
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="block text-gray-700 dark:text-gray-300 pb-2" for="descricao_produto">Descrição do produto:</label>
                        <textarea class="block w-full resize-none rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" name="descricao" id="descricao_produto" cols="30" rows="5" placeholder="Descrição do produto">{{produto.descricao}}</textarea>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <label class="inline-block text-gray-700 dark:text-gray-300 pb-2" for="preco_produto">Preço:</label>
                            <input value="{{produto.preco}}" class="block w-full rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" type="number" name="preco" id="preco_produto" placeholder="Preço">
                        </div>
                        <div>
                            <label class="inline-block text-gray-700 dark:text-gray-300 pb-2" for="quantidade_produto">Quantidade do produto:</label>
                            <input value="{{produto.estoque}}" class="block w-full rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" type="number" name="quantidade" id="quantidade_produto" placeholder="Quantidade do produto">
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div>
                            <label class="inline-block text-gray-700 dark:text-gray-300 pb-2" for="fabricante_produto">Fabricante:</label>
                            <input value="{{produto.fabricante}}" class="block w-full rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" type="text" name="fabricante" id="fabricante_produto" placeholder="Fabricante">
                        </div>
                        <div>
                            <label class="inline-block text-gray-700 dark:text-gray-300 pb-2" for="categoria_produto">Categoria:</label>
                            <input value="{{produto.categoria}}" class="block w-full rounded-lg border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 p-2" type="text" name="categoria" id="categoria_produto" placeholder="Categoria">
                        </div>
                    </div>
                    <a href="">Editar</a>
                    <button type="button" id='delete'>Deletar</button>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
    
{% endblock %}
{% block 'scripts' %}
    <script src="{% static 'products/js/listar_produto.js' %}"></script>
    <!--<script src="{% static 'products/js/update_produto.js' %}"></script>
    <script src="{% static 'products/js/delete_produto.js' %}"></script> -->
{% endblock 'scripts' %}
